:root {
  font-family: 'Bahnschrift';
  font-size: 62.5%;
  color: white;
  background-color: rgb(54, 54, 54);
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.location_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 6rem;
  font-size: 2rem;
}

.location_container,
.location_container iframe,
.location_container img {
  width: 24vw;
  height: 23vh;
}

.location_container {
  border: 0.5rem solid black;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.location_container:hover {
  transform: scale(1.5);
}
